.container {
  box-sizing: border-box;
  
  width: 160px;
  height: 277px;

  padding: 10px;
  border: 1px solid white;

  .img-container {
    width: 100%;
    height: 200px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  p {
    line-height: 30px;
    text-align: center;
  }
  .footer {
    height: 25px;
    a {
      display: inline-block;
      width: 68px;
      height: 100%;
      line-height: 25px;
      border: 1px solid #5cadff;
      border-radius: 2px;
      text-align: center;
    }
    a:hover {
      color: white;
      background-color: #5cadff;
    }
    span {
      float: right;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}

.container:hover {
  border-color: #5cadff;
}
